@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
    @media screen and (max-width: 360px) {
        body {
            width: 137%;
        }
    }
    #talent .splide__pagination {
        bottom: -2em;
        left: 0;
        padding: 0 1em;
        position: absolute;
        right: 0;
        z-index: 1
    }
    #talent .splide__pagination__page {
        background: #000;
        border: 0;
        border-radius: 50%;
        display: inline-block;
        height: 8px;
        margin: 3px;
        opacity: .7;
        padding: 0;
        transition: transform .2s linear;
        width: 8px
    }
    #talent .splide__pagination__page.is-active {
        background: #2B3990;
        transform: scale(1.4)
    }
    #talent .splide__arrow--next {
        right: -3em
    }
    #talent .splide__arrow--prev {
        left: -3em
    }
    @media screen and (max-width:1024px) {
        #talent .splide__arrow--next {
            right: 1em
        }
        #talent .splide__arrow--prev {
            left: 1em
        }
    }
    /* @media (prefers-reduced-motion:no-preference) {
         :root {
            scroll-behavior: smooth
        }
    } */
    #talent .fade {
        transition: opacity .15s linear
    }
    @media (prefers-reduced-motion:reduce) {
        #talent .fade {
            transition: none
        }
    }
    #talent .fade:not(.show) {
        opacity: 0
    }
    #talent .nav {
        display: flex;
        flex-wrap: wrap;
        padding-left: 0;
        margin-bottom: 0;
        list-style: none
    }
    #talent .nav-link {
        display: block;
        padding: .5rem 1rem;
        color: #2B3990;
        text-decoration: none;
        transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out
    }
    @media (prefers-reduced-motion:reduce) {
        #talent .nav-link {
            transition: none
        }
    }
    #talent .nav-link:focus,
    #talent .nav-link:hover {
        color: #43239E
    }
    #talent .nav-pills .nav-link {
        background: 0 0;
        border: 0;
        border-radius: 1rem
    }
    #talent .nav-pills .nav-link.active {
        color: #fff;
        background-color: #2B3990
    }
    #talent .tab-content>.tab-pane {
        display: none
    }
    #talent .tab-content>.active {
        display: block
    }
    #event .splide__pagination {
        bottom: -1em;
        left: 0;
        padding: 0 1em;
        position: absolute;
        right: 0;
        z-index: 1
    }
    #event .splide__pagination__page {
        background: #D9D9D9;
        border: 0;
        border-radius: 50%;
        display: inline-block;
        height: 8px;
        margin: 3px;
        opacity: .7;
        padding: 0;
        transition: transform .2s linear;
        width: 8px
    }
    #event .splide__pagination__page.is-active {
        background: #FF2A1A;
        transform: scale(1.4)
    }
    @media screen and (max-width:1024px) {
        #event .splide__arrow--next {
            right: -1em
        }
        #event .splide__arrow--prev {
            left: -1em
        }
    }
    /* start splide */
    .splide__container {
        box-sizing: border-box;
        position: relative
    }
    .splide__list {
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        display: -ms-flexbox;
        display: flex;
        height: 100%;
        margin: 0!important;
        padding: 0!important;
        transform-style: preserve-3d
    }
    .splide.is-initialized:not(.is-active) .splide__list {
        display: block
    }
    .splide__pagination {
        -ms-flex-align: center;
        align-items: center;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-pack: center;
        justify-content: center;
        margin: 0;
        pointer-events: none
    }
    .splide__pagination li {
        display: inline-block;
        line-height: 1;
        list-style-type: none;
        margin: 0;
        pointer-events: auto
    }
    .splide__progress__bar {
        width: 0
    }
    .splide {
        outline: none;
        position: relative;
        visibility: hidden
    }
    .splide.is-initialized,
    .splide.is-rendered {
        visibility: visible
    }
    .splide__slide {
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        box-sizing: border-box;
        -ms-flex-negative: 0;
        flex-shrink: 0;
        list-style-type: none!important;
        margin: 0;
        outline: none;
        position: relative
    }
    .splide__slide img {
        vertical-align: bottom
    }
    .splide__slider {
        position: relative
    }
    .splide__spinner {
        animation: splide-loading 1s linear infinite;
        border: 2px solid #999;
        border-left-color: transparent;
        border-radius: 50%;
        bottom: 0;
        contain: strict;
        display: inline-block;
        height: 20px;
        left: 0;
        margin: auto;
        position: absolute;
        right: 0;
        top: 0;
        width: 20px
    }
    .splide__track {
        overflow: hidden;
        position: relative;
        z-index: 0
    }
    @keyframes splide-loading {
        0% {
            transform: rotate(0)
        }
        to {
            transform: rotate(1turn)
        }
    }
    .splide--draggable>.splide__slider>.splide__track,
    .splide--draggable>.splide__track {
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none
    }
    .splide--fade>.splide__slider>.splide__track>.splide__list,
    .splide--fade>.splide__track>.splide__list {
        display: block
    }
    .splide--fade>.splide__slider>.splide__track>.splide__list>.splide__slide,
    .splide--fade>.splide__track>.splide__list>.splide__slide {
        left: 0;
        opacity: 0;
        position: absolute;
        top: 0;
        z-index: 0
    }
    .splide--fade>.splide__slider>.splide__track>.splide__list>.splide__slide.is-active,
    .splide--fade>.splide__track>.splide__list>.splide__slide.is-active {
        opacity: 1;
        position: relative;
        z-index: 1
    }
    .splide--rtl {
        direction: rtl
    }
    .splide--ttb.is-active>.splide__slider>.splide__track>.splide__list,
    .splide--ttb.is-active>.splide__track>.splide__list {
        display: block
    }
    .splide__arrow {
        -ms-flex-align: center;
        align-items: center;
        background: #ccc;
        border: 0;
        border-radius: 50%;
        cursor: pointer;
        display: -ms-flexbox;
        display: flex;
        height: 2em;
        -ms-flex-pack: center;
        justify-content: center;
        opacity: .7;
        padding: 0;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 2em;
        z-index: 1
    }
    .splide__arrow svg {
        fill: #000;
        height: 1.2em;
        width: 1.2em
    }
    .splide__arrow:hover {
        opacity: .9
    }
    .splide__arrow:focus {
        outline: none
    }
    .splide__arrow--prev {
        left: 1em
    }
    .splide__arrow--prev svg {
        transform: scaleX(-1)
    }
    .splide__arrow--next {
        right: 1em
    }
    .splide__pagination {
        bottom: .5em;
        left: 0;
        padding: 0 1em;
        position: absolute;
        right: 0;
        z-index: 1
    }
    .splide__pagination__page {
        background: #ccc;
        border: 0;
        border-radius: 50%;
        display: inline-block;
        height: 8px;
        margin: 3px;
        opacity: .7;
        padding: 0;
        transition: transform .2s linear;
        width: 8px
    }
    .splide__pagination__page.is-active {
        background: #fff;
        transform: scale(1.4)
    }
    .splide__pagination__page:hover {
        cursor: pointer;
        opacity: .9
    }
    .splide__pagination__page:focus {
        outline: none
    }
    .splide__progress__bar {
        background: #ccc;
        height: 3px
    }
    .splide--nav>.splide__slider>.splide__track>.splide__list>.splide__slide,
    .splide--nav>.splide__track>.splide__list>.splide__slide {
        border: 3px solid transparent;
        cursor: pointer
    }
    .splide--nav>.splide__slider>.splide__track>.splide__list>.splide__slide.is-active,
    .splide--nav>.splide__track>.splide__list>.splide__slide.is-active {
        border: 3px solid #000
    }
    .splide--nav>.splide__slider>.splide__track>.splide__list>.splide__slide:focus,
    .splide--nav>.splide__track>.splide__list>.splide__slide:focus {
        outline: none
    }
    .splide--rtl>.splide__arrows .splide__arrow--prev,
    .splide--rtl>.splide__slider>.splide__track>.splide__arrows .splide__arrow--prev,
    .splide--rtl>.splide__track>.splide__arrows .splide__arrow--prev {
        left: auto;
        right: 1em
    }
    .splide--rtl>.splide__arrows .splide__arrow--prev svg,
    .splide--rtl>.splide__slider>.splide__track>.splide__arrows .splide__arrow--prev svg,
    .splide--rtl>.splide__track>.splide__arrows .splide__arrow--prev svg {
        transform: scaleX(1)
    }
    .splide--rtl>.splide__arrows .splide__arrow--next,
    .splide--rtl>.splide__slider>.splide__track>.splide__arrows .splide__arrow--next,
    .splide--rtl>.splide__track>.splide__arrows .splide__arrow--next {
        left: 1em;
        right: auto
    }
    .splide--rtl>.splide__arrows .splide__arrow--next svg,
    .splide--rtl>.splide__slider>.splide__track>.splide__arrows .splide__arrow--next svg,
    .splide--rtl>.splide__track>.splide__arrows .splide__arrow--next svg {
        transform: scaleX(-1)
    }
    .splide--ttb>.splide__arrows .splide__arrow,
    .splide--ttb>.splide__slider>.splide__track>.splide__arrows .splide__arrow,
    .splide--ttb>.splide__track>.splide__arrows .splide__arrow {
        left: 50%;
        transform: translate(-50%)
    }
    .splide--ttb>.splide__arrows .splide__arrow--prev,
    .splide--ttb>.splide__slider>.splide__track>.splide__arrows .splide__arrow--prev,
    .splide--ttb>.splide__track>.splide__arrows .splide__arrow--prev {
        top: 1em
    }
    .splide--ttb>.splide__arrows .splide__arrow--prev svg,
    .splide--ttb>.splide__slider>.splide__track>.splide__arrows .splide__arrow--prev svg,
    .splide--ttb>.splide__track>.splide__arrows .splide__arrow--prev svg {
        transform: rotate(-90deg)
    }
    .splide--ttb>.splide__arrows .splide__arrow--next,
    .splide--ttb>.splide__slider>.splide__track>.splide__arrows .splide__arrow--next,
    .splide--ttb>.splide__track>.splide__arrows .splide__arrow--next {
        bottom: 1em;
        top: auto
    }
    .splide--ttb>.splide__arrows .splide__arrow--next svg,
    .splide--ttb>.splide__slider>.splide__track>.splide__arrows .splide__arrow--next svg,
    .splide--ttb>.splide__track>.splide__arrows .splide__arrow--next svg {
        transform: rotate(90deg)
    }
    .splide--ttb>.splide__pagination,
    .splide--ttb>.splide__slider>.splide__pagination {
        bottom: 0;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        left: auto;
        padding: 1em 0;
        right: .5em;
        top: 0
    }
    /* end splide */
    /* start humblescroll */
     :root {
        --hs-delay: 0ms;
        --hs-easing: var(--hs-ease-out);
        --hs-duration: 600ms;
        --hs-ease-in: cubic-bezier(0.4, 0, 1, 1);
        --hs-ease-out: cubic-bezier(0, 0, 0.2, 1);
        --hs-ease-in-out: cubic-bezier(0.4, 0, 0.2, 1);
        --hs-opacity: 1;
        --hs-visibility: visible;
        --hs-translate-y: 0;
        --hs-translate-x: 0;
        --hs-scale: 1;
        --hs-rotate: 0deg;
        --hs-ratio: 1;
        --hs-translate-ratio: 1;
        --hs-scale-ratio: 0.2;
        --hs-duration-ratio: 1;
        --hs-translate-x-amount: 2rem;
        --hs-translate-y-amount: 3rem;
        --hs-blur: 0
    }
     :root:not(.no-js) [data-hs]>* {
        filter: blur(var(--hs-blur));
        opacity: var(--hs-opacity);
        pointer-events: none;
        transform: translateX(var(--hs-translate-x)) translateY(var(--hs-translate-y)) scale(var(--hs-scale)) rotate(var(--hs-rotate));
        transition-delay: var(--hs-delay);
        transition-duration: calc(var(--hs-duration)*var(--hs-duration-ratio));
        transition-property: transform, opacity, visibility, filter;
        transition-timing-function: var(--hs-easing);
        visibility: var(--hs-visibility)
    }
     :root:not(.no-js) [data-hs].hs-inview>*,
     :root:not(.no-js) [data-hs].hs-once>* {
        --hs-opacity: 1;
        --hs-visibility: visible;
        --hs-translate-y: 0;
        --hs-translate-x: 0;
        --hs-scale: 1;
        --hs-rotate: 0deg;
        --hs-blur: 0;
        pointer-events: auto
    }
     :root:not(.no-js) [data-hs*=ease-in] {
        --hs-easing: var(--hs-ease-in)
    }
     :root:not(.no-js) [data-hs*=ease-out] {
        --hs-easing: var(--hs-ease-out)
    }
     :root:not(.no-js) [data-hs*=ease-in-out] {
        --hs-easing: var(--hs-ease-in-out)
    }
     :root:not(.no-js) [data-hs*=sm] {
        --hs-translate-ratio: 0.5
    }
     :root:not(.no-js) [data-hs*=md] {
        --hs-translate-ratio: 0.75
    }
     :root:not(.no-js) [data-hs*=lg] {
        --hs-translate-ratio: 1.5
    }
     :root:not(.no-js) [data-hs*=xl] {
        --hs-translate-ratio: 2
    }
     :root:not(.no-js) [data-hs*="2xl"] {
        --hs-translate-ratio: 3
    }
     :root:not(.no-js) [data-hs~=extra-slow] {
        --hs-duration-ratio: 3
    }
     :root:not(.no-js) [data-hs~=slow] {
        --hs-duration-ratio: 1.5
    }
     :root:not(.no-js) [data-hs~=fast] {
        --hs-duration-ratio: 0.5
    }
     :root:not(.no-js) [data-hs~=extra-fast] {
        --hs-duration-ratio: 0.25
    }
     :root:not(.no-js) [data-hs*=fade],
     :root:not(.no-js) [data-hs*=zoom] {
        --hs-opacity: 0;
        --hs-visibility: hidden
    }
     :root:not(.no-js) [data-hs*=up]>* {
        --hs-translate-y: calc(var(--hs-translate-y-amount)*var(--hs-translate-ratio))
    }
     :root:not(.no-js) [data-hs*=down]>* {
        --hs-translate-y: calc(0px - var(--hs-translate-y-amount)*var(--hs-translate-ratio))
    }
     :root:not(.no-js) [data-hs*=left]>* {
        --hs-translate-x: calc(var(--hs-translate-x-amount)*var(--hs-translate-ratio))
    }
     :root:not(.no-js) [data-hs*=right]>* {
        --hs-translate-x: calc(0px - var(--hs-translate-x-amount)*var(--hs-translate-ratio))
    }
     :root:not(.no-js) [data-hs*=zoom-in]>* {
        --hs-scale: calc(1 + var(--hs-scale-ratio))
    }
     :root:not(.no-js) [data-hs*=zoom-out]>* {
        --hs-scale: calc(1 - var(--hs-scale-ratio))
    }
     :root:not(.no-js) [data-hs*=flip]>* {
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden
    }
     :root:not(.no-js) [data-hs*=flip].hs-inview>*,
     :root:not(.no-js) [data-hs*=flip].hs-once>* {
        transform: perspective(2000px) rotateY(0deg) rotateX(0deg)
    }
     :root:not(.no-js) [data-hs*=flip-up]>* {
        transform: perspective(2000px) rotateX(-100deg)
    }
     :root:not(.no-js) [data-hs*=flip-down]>* {
        transform: perspective(2000px) rotateX(100deg)
    }
     :root:not(.no-js) [data-hs*=flip-left]>* {
        transform: perspective(2000px) rotateY(-100deg)
    }
     :root:not(.no-js) [data-hs*=flip-right]>* {
        transform: perspective(2000px) rotateY(100deg)
    }
     :root:not(.no-js) [data-hs*=blur] {
        --hs-blur: 5px
    }
    @media (prefers-reduced-motion:reduce) {
         :root body [data-hs]>* {
            filter: none;
            opacity: 1;
            transform: none;
            transition: none;
            visibility: visible
        }
    }
    /* end humblescroll */
    /* img.login-background {
        position:absolute;
        top:0;
        right:0;    
    } */
    @media screen and (min-width:1281px) {
        .form-bg {
            position: absolute;
            top: 0;
            right: 0;
            min-height: 100%;
            height: auto
        }
    }
}